.btn {
  border-radius: 100px;
  padding: 11px 30px;
  font-size: 15px;
  font-family: BB;
  line-height: 18px;
  cursor: pointer;
  color: white;
  background: $red;
  transition: 0.3s;
  &:hover {
    background: #ec5050;
  }
  &--gray {
    padding: 11px 25px;
    background: rgba(255, 255, 255, 0.15);
    &:hover {
      background: rgba(255, 255, 255, 0.24);
    }
  }
}
