.m-post {
  padding: 40px 0 100px;
  max-width: 35vw;
  margin: 0 auto;
  color: #ffffff;
  &__title {
    font-size: 36px;
    line-height: 43px;
    font-family: BB;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 991px) {
  .m-post {
    padding: 20px 15px 40px;
    max-width: 100vw;
  }
}
