@import '../../styles/var';
.post {
  display: grid;
  grid-template-columns: 1050fr 390fr;
  width: 100%;
  grid-column-gap: 20px;
  color: white;
  &__video {
    min-height: 40vw;
  }
  &__topic-title {
    font-size: 18px;
    line-height: 21px;
    font-family: BS;
    color: white !important;
    span {
      color: $red;
      font-family: BB;
    }
  }
  &__trends {
    padding: 15px 18px 35px 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    height: calc(100vh - 74px);
    position: sticky;
    top: 74px;
    &-title {
      font-size: 22px;
      line-height: 26px;
      font-family: BB;
      color: white;
      margin-bottom: 25px;
    }
    .ScrollbarsCustom-ThumbY {
      background: rgba(255, 255, 255, 0.4) !important;
    }
    .ScrollbarsCustom-TrackY {
      margin-right: -3px;
      width: 6px !important;
    }
  }
  &__content {
    padding: 35px 0 35px 40px;
    position: relative;
    .stat {
      position: absolute;
      right: 20px;
      top: 35px;
      &__controller {
        height: 38px;
        width: 33px;
        svg {
          height: 100%;
          width: 100%;
        }
        &:first-child {
          padding: 12px 0px 12px 13px;
        }
        &:last-child {
          padding: 12px 13px 12px 0px;
        }
      }
      &__count {
        font-size: 18.5391px;
        line-height: 22px;
        font-family: BB;
      }
    }
  }
  &__info {
    &-views {
      font-family: BS;
      font-size: 16px;
      line-height: 19px;
      text-align: right;
      margin-bottom: -20px;
      position: absolute;
      right: 20px;
      top: 90px;
    }
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-avatar {
      width: 52px;
      height: 52px;
      border-radius: 50%;
      margin-right: 20px;
      overflow: hidden;
      position: relative;
      img {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
    &-title {
      font-size: 18px;
      line-height: 21px;
      font-family: BS;
    }
    &-person {
      font-family: BR;
      margin-top: 5px;
      font-size: 15px;
      line-height: 18px;
      span {
        font-family: BB;
      }
      &-time {
        font-family: BL !important;
      }
      &-box {
        display: flex;
        align-items: center;
      }
    }
    &-text {
      font-size: 15px;
      line-height: 18px;
      font-family: BR;
      max-width: 750px;
      margin-top: 25px;
    }
    &-tags {
      margin-top: 20px;
      &-item {
        margin-right: 30px;
        margin-bottom: 15px;
      }
    }
  }
  &__socials {
    display: flex;
    align-items: center;
    border-top: 2px solid #333333;
    border-bottom: 2px solid #333333;
    margin: 15px 0 25px;
    padding: 15px 0;
    justify-content: space-between;
    &-item {
      display: flex;
      align-items: center;
      padding: 4.5px 15px 4.5px 4px;
      border-radius: 30px;
      height: 32px;
      cursor: pointer;
      & + & {
        margin-left: 15px;
      }
      &--fb {
        background: #3b5998;
      }
      &--tw {
        background: #55acee;
      }
      &--share {
        background: rgba(255, 255, 255, 0.1);
        padding-left: 15px;
      }
      &-img {
        width: 22.86px;
        height: 22.86px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        border-radius: 50%;
      }
      &-text {
        margin-left: 8px;
        font-family: BS;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}
